body, html{
	max-width: 640px;
	font-size: 62.5%;
}
body, html,ul,li,dl,dd,p,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
	word-break: break-all;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height: 180%;
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}
/*li,dd{list-style: none;}*/
em,h4{font-style:normal; font-weight: normal}
/* Reset */
i{ font-style: normal;}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input:focus{ border: none;}
body{
	font-weight: 500;
	font-size: 1.4rem;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
	color: #2e1623;
	min-height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch ;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}

body,.view-animation{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #F0EFF5;
}

// .view-animation.ng-enter, .view-animation.ng-leave {
//   transition:0.3s linear all;
//   position:fixed;
//   height: 100%;
//   left:0;
//   top:0;
//   width:100%;
//   background: #FFF;
// }
// .view-animation.ng-enter {
//   -webkit-transform:translateX(0%);
//   transform:translateX(100%);
// }
// .view-animation.ng-leave,
// .view-animation.ng-enter.ng-enter-active {
//   -webkit-transform:translateX(0%);
//   transform:translateX(0%);
// }
// .view-animation.ng-leave.ng-leave-active {
//   -webkit-transform:translateX(-100%);
//   transform:translateX(-100%);
// }

.view-animation.ng-leave {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	-webkit-animation: moveToLeftOut .3s both ease-in;
	-moz-animation: moveToLeftOut .3s both ease-in;
	animation: moveToLeftOut .3s both ease-in
}

.view-animation.ng-leave:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .5)
}

.view-animation.ng-enter {
	width: 100%;
	height: 100%;
	z-index: 999999;
	position: fixed;
	-webkit-animation: moveToRightIn .3s both ease-in-out;
	-moz-animation: moveToRightIn .3s both ease-in-out;
	animation: moveToRightIn .3s both ease-in-out
}

/*.pagefade.ng-leave {
	-webkit-animation: pagefade .4s both ease-in;
	-moz-animation: pagefade .4s both ease-in;
	animation: pagefade .4s both ease-in
}

.pagefade.ng-leave:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .5)
}*/

@-webkit-keyframes moveToLeftOut {
	from{}
	to {
		opacity: .6;
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%)
	}
}

@keyframes moveToLeftOut {
	from{}
	to {
		opacity: .6;
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%)
	}
}

@-webkit-keyframes moveToRightIn {
	from {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@keyframes moveToRightIn {
	from {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}
