<header>
    <div class="headerDate">
        <div class="preDate">前一天</div>
        <div class="Date">01-29<span>周二</span></div>
        <div class="nextDate">后一天</div>
    </div>
</header>
<div class="flightOptions">
    <div class="options" ng-repeat='li in goFlightList track by $index'>
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>{{}}</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum">余票充足</div>
        </div>
    </div>
    <div class="options">
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>10:30</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum jinz">还剩6张</div>
        </div>
    </div>
    <div class="options">
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>10:30</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum">余票充足</div>
        </div>
    </div>
    <div class="options">
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>10:30</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum jinz">还剩6张</div>
        </div>
    </div>
    <div class="options">
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>10:30</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum">余票充足</div>
        </div>
    </div>
    <div class="options">
        <div class="options-top">
            <div class="op-Left">
                <div class="options-left">
                    <span>10:30</span>
                    <p>上海虹桥T1</p>
                </div>
                <div class="options-cen">
                    <span>经停</span>
                    <p>北京</p>
                </div>
                <div class="options-right">
                    <span>09:10</span>
                    <p>北京首都T3</p>
                    <i>+1天</i>
                </div>
            </div>
            <div class="ticket-price">
                <p class="fir">差价</p>
                <p class="sec"><i>-</i><span>￥</span>388</p>
            </div>
        </div>
        <div class="options-bot">
            <p>东航MU5101 | 737（中）</p>
            <div class="picketNum jinz">还剩6张</div>
        </div>
    </div>
</div>
<div class="searchFoot">
    <div class="searchIc">
        <p class="icon-icon1"></p>
        时间排序
    </div>
    <div class="searchIc">
        <p class="icon-icon36"></p>
        价格排序
    </div>
    <div class="searchIc lastIcon">
        <p class="icon-icon36"></p>
        筛选
        <a href="javascript:;" class="btnJt toUp"></a>
        <a href="javascript:;" class="btnJt toLow"></a>
    </div>
</div>
