<div class="bookTicket">
       <div class="ticketDetail">
           <div class="flightMess addJt">
               <div class="messTop">
                   <div class="titChoose">已选航班</div>
                   <p class="tg"><i class="iconfont">&#xe612;</i>改签详情</p>
               </div>
               <div class="mess">
                   <div class="oneMess">
                       <span class="bgBlue">去</span>
                       <p class="dateS">10-10周五 07:10</p>
                       <div class="messStart">
                           <span><b>浦东</b>T1</span>
                           <mark></mark>
                           <span><b>首都</b>T3</span>
                       </div>
                   </div>
                   <div class="oneMess">
                       <span class="bgBlue">返</span>
                       <p class="dateS">10-10周五 07:10</p>
                       <div class="messStart">
                           <span><b>首都</b>T3</span>
                           <mark></mark>
                           <span><b>浦东</b>T1</span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="flightMess dsnMes">
               <div class="messTop">
                   <div class="titChoose">已选迪士尼门票</div>
               </div>
               <div class="mess">
                   <div class="oneMess">
                       <i class="iconfont">&#xe631;</i>
                       <p>2015-10-10</p>
                       <div class="messStart">
                           <span><b>迪士尼全日通票</b></span>
                           <p>成人票 x 1张</p>
                       </div>
                   </div>
                   <div class="oneMess">
                       <i class="iconfont">&#xe631;</i>
                       <p>2015-10-10</p>
                       <div class="messStart">
                           <span><b>迪士尼全日通票</b></span>
                           <p>成人票 x 1张</p>
                       </div>
                   </div>
               </div>
           </div>
           <p class="titP">还可预订2张门票</p>
       </div>
       <div class="bookingTicket">
           <h5 class="h5Tit">预定上海迪士尼乐园票</h5>
           <div class="choose">
               <span>使用日期</span>
               <ul>
                   <li><b>今天</b>不可订</li>
                   <li><b>明天</b>不可订</li>
                   <li class="last"><b>后天</b></li>
               </ul>
               <span class="otherCo">其它日期</span>
           </div>
       </div>
       <div class="gx">
           <i class="iconfont">&#xe630;</i>
           <p><span>门票购买规则</span>同意此协议请打勾</p>
       </div>
   </div>
   <div class="priceTotall">
       <div class="priceLeft">
           <div class="pricet"><b>￥</b>1269.0</div>
           <div class="mx">明细</div>
       </div>
       <div class="nextCo">下一步，填写资料</div>
   </div>