<header>
        <div class="flightTop">
            <div class="flightDetails">
                <div class="detailsLeft">
                    <p>10-10周五</p>
                    <b>10:30</b>
                    <span>上海虹桥机场T2</span>
                </div>
                <div class="detailCen">
                    <p>2小时0分钟</p>
                    <span>去</span>
                </div>
                <div class="detailsRight">
                    <p>10-10周五</p>
                    <b>08:10</b>
                    <span>首都国际机场T2</span>
                </div>
            </div>
            <div class="flightBottom">
                <div>东方航空MU5130  | 737 |  有餐食</div>
                <div class="visa">签证信息</div>
            </div>
        </div>
    </header>
    <div class="tabMenu">
        <ul>
            <li class="acitve">全部</li>
            <li>头等/商务舱</li>
            <li>经济舱</li>
        </ul>
    </div>
    <div class="tanMain">
        <div class="tabLi">
            <div class="tabTop">
                <div class="tabLeft">
                    <h5>青老年特惠</h5>
                    <ul>
                        <li>一对一服务</li>
                        <li>有酒喝</li>
                        <li>最舒适</li>
                        <li>积分累积</li>
                    </ul>
                </div>
                <div class="tabRight">
                    <div class="tabCen">
                        <span>差价</span>
                        <p class="price"><i>-</i><span>￥</span>388</p>
                    </div>
                    <a class="bookBtn">预订</a>
                </div>
            </div>
            <div class="tabBot">
                <div class="jifen">
                    <p>可获积分</p>
                    <span>300%</span>
                </div>
                <div class="rightBot">
                    <p class="tg"><i class="iconfont">&#xe612;</i>改签详情<span class="sy">还剩6张</span></p>
                </div>
            </div>
        </div>
        <div class="tabLi">
            <div class="tabTop">
                <div class="tabLeft">
                    <h5>机票集市</h5>
                    <ul>
                        <li>一对一服务</li>
                        <li>有酒喝</li>
                        <li>最舒适</li>
                        <li>积分累积</li>
                    </ul>
                </div>
                <div class="tabRight">
                    <div class="tabCen">
                        <span>差价</span>
                        <p class="price"><i>-</i><span>￥</span>1388</p>
                    </div>
                    <a class="bookBtn">预订</a>
                </div>
            </div>
            <div class="tabBot">
                <div class="jifen">
                    <p>比官网省</p>
                    <span>￥30</span>
                </div>
                <div class="rightBot">
                    <p class="tg"><i class="iconfont">&#xe612;</i>改签详情<span>余票充足</span></p>
                </div>
            </div>
        </div>
        <div class="tabLi">
            <div class="tabTop">
                <div class="tabLeft">
                    <h5>头等全价</h5>
                    <ul>
                        <li>一对一服务</li>
                        <li>有酒喝</li>
                        <li>最舒适</li>
                        <li>积分累积</li>
                    </ul>
                </div>
                <div class="tabRight">
                    <div class="tabCen">
                        <span>差价</span>
                        <p class="price"><i>-</i><span>￥</span>0</p>
                    </div>
                    <a class="bookBtn">预订</a>
                </div>
            </div>
            <div class="tabBot">
                <div class="rightBot">
                    <p class="tg"><i class="iconfont">&#xe612;</i>改签详情<span>余票充足</span></p>
                </div>
            </div>
        </div>
        <div class="tabLi">
            <div class="tabTop">
                <div class="tabLeft">
                    <h5>头等折扣</h5>
                    <ul>
                        <li>一对一服务</li>
                        <li>有酒喝</li>
                        <li>最舒适</li>
                        <li>积分累积</li>
                    </ul>
                </div>
                <div class="tabRight">
                    <div class="tabCen">
                        <span>差价</span>
                        <p class="price"><i>-</i><span>￥</span>0</p>
                    </div>
                    <a class="bookBtn">预订</a>
                </div>
            </div>
            <div class="tabBot">
                <div class="rightBot">
                    <p class="tg"><i class="iconfont">&#xe612;</i>改签详情<span>余票充足</span></p>
                </div>
            </div>
        </div>
    </div>