
   <div class="banner">
       <img src="../assets/images/banner.jpg">
   </div>
   <div class="addressTab">
       <ul>
           <li class="active">上海</li>
           <li>香港</li>
           <li>加州</li>
           <li>佛州</li>
           <li>巴黎</li>
       </ul>
   </div>
   <div class="tabIndex">
       <div class="DesBox active">
           <h5><b>上海迪士尼</b>/套票产品航线选择</h5>
           <div class="desDiv firDiv">
               <a href="javascript:;"><img src="../assets/images/pic1.jpg" alt=""></a>
               <div class="detail">
                   <div class="detailLeft">
                       <h3>国内往返头等/公务舱成人机票+门票</h3>
                       <p>本产品为往返头等舱或公务舱成人机票+门票，机票始发地或目的地为上海，1套机票最多可搭配2张门票</p>
                   </div>
                   <div class="detailRight">
                       <p>国内航线</p>
                       <a href="javascript:;" class="buy">立即预定</a>
                   </div>
               </div>
           </div>
           <div class="desDiv">
               <a href="javascript:;"><img src="../assets/images/pic2.jpg" alt=""></a>
               <div class="detail">
                   <div class="detailLeft">
                       <h3>欧美澳往返头等/公务/经济舱成人机票+门票</h3>
                       <p>本产品为往返头等舱、公务舱或经济舱成人机票+门票，机票始发地或目的地为上海，1套机票最多可搭配2张门票</p>
                   </div>
                   <div class="detailRight">
                       <p>欧美澳航线</p>
                       <a href="javascript:;" class="buy">立即预定</a>
                   </div>
               </div>
           </div>
           <div class="desDiv">
               <a href="javascript:;"><img src="../assets/images/pic3.jpg" alt=""></a>
               <div class="detail">
                   <div class="detailLeft">
                       <h3>日韩往返头等/公务/经济舱成人机票+门票</h3>
                       <p>产品为往返头等舱、公务舱或经济舱成人机票+门票，机票始发地或目的地为上海，1套机票最多可搭配2张门票</p>
                   </div>
                   <div class="detailRight">
                       <p>日韩航线</p>
                       <a href="javascript:;" class="buy">立即预定</a>
                   </div>
               </div>
           </div>
           <div class="desDiv">
               <a href="javascript:;"><img src="../assets/images/pic4.jpg" alt=""></a>
               <div class="detail">
                   <div class="detailLeft">
                       <h3>港澳台往返头等/公务/经济舱成人机票+门票</h3>
                       <p>本产品为往返头等舱、公务舱或经济舱成人机票+门票，机票始发地或目的地为上海，1套机票最多可搭配2张门票</p>
                   </div>
                   <div class="detailRight">
                       <p>港澳台航线</p>
                       <a href="javascript:;" class="buy">立即预定</a>
                   </div>
               </div>
           </div>
           <div class="desDiv">
               <a href="javascript:;"><img src="../assets/images/pic5.jpg" alt=""></a>
               <div class="detail">
                   <div class="detailLeft">
                       <h3>其他往返头等/公务/经济舱成人机票+门票 </h3>
                       <p>本产品为往返头等舱、公务舱或经济舱成人机票+门票，机票始发地或目的地为上海，1套机票最多可搭配2张门票</p>
                   </div>
                   <div class="detailRight">
                       <p>其他航线</p>
                       <a href="javascript:;" class="buy">立即预定</a>
                   </div>
               </div>
           </div>
       </div>
       <div class="DesBox">
           <h5>香港-敬请期待</h5>
       </div>
       <div class="DesBox">
           <h5>加州-敬请期待</h5>
       </div>
       <div class="DesBox">
           <h5>佛州-敬请期待</h5>
       </div>
       <div class="DesBox">
           <h5>巴黎-敬请期待</h5>
       </div>
   </div>
