
    <div class="ticketBook">
        <div class="cityName">
            <div class="cityStart">
                <p>出发城市</p>
                <h5>上海虹桥</h5>
            </div>
            <div class="cityFly"></div>
            <div class="cityEnd">
                <p>到达城市</p>
                <h5>西雅图</h5>
            </div>
        </div>
        <div class="date">
            <div class="dateLeft">出发日期</div>
            <h5>2015/10/11</h5>
            <div class="dateRight">周日 后天</div>
        </div>
        <div class="cityName">
            <div class="cityStart">
                <p>出发城市</p>
                <h5>佛罗伦萨</h5>
            </div>
            <div class="cityFly"></div>
            <div class="cityEnd">
                <p>到达城市</p>
                <h5>上海虹桥</h5>
            </div>
        </div>
        <div class="date">
            <div class="dateLeft">出发日期</div>
            <h5>2015/10/11</h5>
            <div class="dateRight">周日 后天</div>
        </div>
        <div class="numTotall">
            <div class="numLeft">人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</div>
            <h5>2<span>人</span></h5>
            <div></div>
        </div>
    </div>
    <div class="searchBox">
        <a class="btnSearch">搜索航班</a>
    </div>
